<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sur DEV Jalisco</title>
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css">
  <link rel="stylesheet" href="site.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'dracula-dark': '#282a36',
            'accent': '#a6d120',
            'accent-complement': '#00E5E7'
          },
          fontFamily: {
            monospace: ['Fira Code', 'monospace'],
          },
          keyframes: {
            'custom-pulse': {
              '0%, 100%': {transform: 'scale(1.02,1.02)', filter: 'brightness(1.2)'},
              '50%': {transform: 'scale(1,1)', filter: 'brightness(1)'},
            }
          },
          animation: {
            'custom-pulse': 'custom-pulse 1s ease-in-out infinite',
          }
        }
      }
    }
  </script>
</head>

<body class="bg-dracula-dark font-monospace text-white">
  {% block content %} {% endblock %}
</body>

</html>
